



<!--nav class="navbar navbar-default"-->
<div class="btn-group" >
  <!--a [routerLink]="['/']" > / </a>
  <a [routerLink]="['/direcciones']" > direcciones </a>
  <a [routerLink]="['/enviarPedido']"> enviarPedido </a-->

  <button class="btn btn-primary">  <a [routerLink]="['/mesas']" style="color: white;"> Mesas </a></button>
  <button class="btn btn-primary">  <a [routerLink]="['/crear-pedido']" style="color: white;"> Nuevo </a></button>
  <button class="btn btn-primary" >  <a [routerLink]="['/clientes']" style="color: white;"> Pendientes </a></button>
  <button class="btn btn-primary" >  <a [routerLink]="['/listos/2']" style="color: white;"> Listos </a></button>
  <button class="btn btn-primary" >  <a [routerLink]="['/entregados/3']" style="color: white;"> Entregados </a></button>
  <!--button class="btn btn-primary"> <i class="fa fa-search">  Buscar </i></button>
  <button class="btn btn-primary"> <i class="icon icon-user">  </i></button-->
  <button class="btn btn-primary">
     <a [routerLink]="['/reporte-venta']" style="color: white;"> <i class="fas fa-chart-line"></i> </a>
  </button>

</div>


<!--/nav-->
<script>
$(".btn").click(function(){
    $(".btn").removeClass("active");
    $(this).addClass("active") ;//.siblings().removeClass("active");
});
</script>
