<h2>
  <p class="text-center">{{titulo}}</p>
</h2>

<!--nav class="navbar navbar-default"-->
<div class="btn-group">
  <!--a [routerLink]="['/']" > / </a>
  <a [routerLink]="['/direcciones']" > direcciones </a>
  <a [routerLink]="['/enviarPedido']"> enviarPedido </a-->

  <button class="btn"> <a [routerLink]="['/crear-pedido']"> Nuevo </a></button>
  <button class="btn" >  <a [routerLink]="['/clientes']"> Pendientes </a></button>
  <button class="btn" >  <a [routerLink]="['/listos/2']"> Por Entregar </a></button>
  <button class="btn" >  <a [routerLink]="['/entregados/3']"> Entregados </a></button>

  <button class="btn btn-primary"> <i class="fa fa-search">  Buscar </i>
  </button>

  <button class="btn"> <i class="icon icon-user">  </i>
  </button>

</div>
<!--/nav-->
