<h4>
  <p class="text-center">{{titulo}}</p>
</h4>

<!--
  public cliente: string,
  public direccion: string,
  public descripcion: string
-->


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home"><i class="fas fa-coffee"></i> Servir</a></li>
  <li><a data-toggle="tab" href="#menu1"><i class="fas fa-truck"></i> Delivery</a></li>
  <li><a data-toggle="tab" href="#menu2"><i class="fas fa-shopping-cart"></i> Retiro Local</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <!-- Servir -->
    <form #formPedidoAddServir="ngForm" id="formPedido" class="form-horizontal"
          (ngSubmit)="onSubmitServir()">

      <label>Nombre Cliente</label>
      <input type="text" class="form-control" name="cliente" #cliente="ngModel" style="height: 30px"
            [(ngModel)]="pedido.cliente" required/>

      <span *ngIf="!cliente.valid && cliente.touched">Cliente es obligatorio</span><br>

      <label>Descripcion</label>
      <input type="text" class="form-control" name="descripcion" #descripcion="ngModel" style="height: 30px"
            [(ngModel)]="pedido.descripcion" required/>

      <span *ngIf="!descripcion.valid && descripcion.touched">Descripcion es obligatorio</span><br>

      <label>Total</label>

      <input type="text" class="form-control" name="total" #total="ngModel" style="height: 30px"
            [(ngModel)]="pedido.total" required pattern="[0-9]+" placeholder="Total"/>

      <span *ngIf="!total.valid && total.touched">Total es obligatorio</span><br>

      <label>Tipo Pago</label><br>
      <select class="selectpicker" [(ngModel)]="pedido.tipoPago" name="tipoPago">
        <!-- 1: Por Pagar, 2: Caja/Efectivo, 3: Caja/Tarjeta, 4: Otro-->
        <option value="-1">Seleccione...</option>
        <option value="1">Pago al Entregar</option>
        <option value="2">Pago en Caja/Efectivo</option>
        <option value="3">Pago en Caja/Tarjeta</option>
        <option value="4">Otro</option>
      </select>      <br>
      <br/>
      <input type="submit" value={{titulo}} class="btn btn-success"
              [disabled]="!formPedidoAddServir.form.valid"/>

    </form>
  </div>

  <div id="menu1" class="tab-pane fade">

    <form #formPedidoAdd="ngForm" id="formPedido" class="form-horizontal"
          (ngSubmit)="onSubmit()">
      <!-- Delivery -->
      <label>Nombre Cliente</label>
      <input type="text" class="form-control" name="cliente" #cliente="ngModel" style="height: 30px"
            [(ngModel)]="pedido.cliente" required/>

      <span *ngIf="!cliente.valid && cliente.touched">Cliente es obligatorio</span><br>

      <label>Fono Cliente</label>
      <input type="text" class="form-control" name="fono" #fono="ngModel" style="height: 30px"
            [(ngModel)]="pedido.fono" required/>

      <span *ngIf="!fono.valid && fono.touched">Fono es obligatorio</span><br>

      <label>Direccion</label>
      <input type="text" class="form-control" name="direccion" #direccion="ngModel" style="height: 30px"
            [(ngModel)]="pedido.direccion" required/>

      <span *ngIf="!direccion.valid && direccion.touched" class="label">Direccion es obligatorio</span><br>

      <label>Descripcion</label>
      <input type="text" class="form-control" name="descripcion" #descripcion="ngModel" style="height: 30px"
            [(ngModel)]="pedido.descripcion" required/>

      <span *ngIf="!descripcion.valid && descripcion.touched">Descripcion es obligatorio</span><br>

      <label>Total</label>

      <input type="text" class="form-control" name="total" #total="ngModel" style="height: 30px"
            [(ngModel)]="pedido.total" required pattern="[0-9]+" placeholder="Total"/>

      <span *ngIf="!total.valid && total.touched">Total es obligatorio</span><br>

      <label>Tipo Pago</label><br>
      <select class="selectpicker" [(ngModel)]="pedido.tipoPago" name="tipoPago">
        <!-- 1: Por Pagar, 2: Caja/Efectivo, 3: Caja/Tarjeta, 4: Otro-->
        <option value="-1">Seleccione...</option>
        <option value="1">Pago al Entregar</option>
        <option value="2">Pago en Caja/Efectivo</option>
        <option value="3">Pago en Caja/Tarjeta</option>
        <option value="4">Otro</option>
      </select>

      <br/><br/>
      <input type="submit" value={{titulo}} class="btn btn-success"
              [disabled]="!formPedidoAdd.form.valid"/>

    </form>

  </div>
  <div id="menu2" class="tab-pane fade">

    <form #formPedidoAddRetiroLocal="ngForm" id="formPedido" class="form-horizontal"
          (ngSubmit)="onSubmitRetiroLocal()">

      <label>Nombre Cliente</label>
      <input type="text" class="form-control" name="cliente" #cliente="ngModel" style="height: 30px"
            [(ngModel)]="pedido.cliente" required/>

      <span *ngIf="!cliente.valid && cliente.touched">Cliente es obligatorio</span><br>

      <label>Fono Cliente</label>
      <input type="text" class="form-control" name="fono" #fono="ngModel" style="height: 30px"
            [(ngModel)]="pedido.fono" required/>

      <span *ngIf="!fono.valid && fono.touched">Fono es obligatorio</span><br>

      <label>Descripcion</label>
      <input type="text" class="form-control" name="descripcion" #descripcion="ngModel" style="height: 30px"
            [(ngModel)]="pedido.descripcion" required/>

      <span *ngIf="!descripcion.valid && descripcion.touched">Descripcion es obligatorio</span><br>

      <label>Total</label>

      <input type="text" class="form-control" name="total" #total="ngModel" style="height: 30px"
            [(ngModel)]="pedido.total" required pattern="[0-9]+" placeholder="Total"/>

      <span *ngIf="!total.valid && total.touched">Total es obligatorio</span><br>

      <label>Tipo Pago</label><br>
      <select class="selectpicker" [(ngModel)]="pedido.tipoPago"  name="tipoPago">
        <!-- 1: Por Pagar, 2: Caja/Efectivo, 3: Caja/Tarjeta, 4: Otro-->
        <option value="-1">Seleccione...</option>
        <option value='1'>Por pagar</option>
        <option value='2'>Pagado</option>
        <option value='4'>Otro</option>
      </select>


      <p></p>
      <br/>
      <input type="submit" value={{titulo}} class="btn btn-success"
              [disabled]="!formPedidoAddRetiroLocal.form.valid"/>

    </form>
  </div>
</div>
