<h4>
  <p class="text-center">{{titulo}}</p>
</h4>

<!--
  public cliente: string,
  public direccion: string,
  public descripcion: string
-->


<form #formPedidoAdd="ngForm" id="formPedido" class="form-horizontal"
      (ngSubmit)="actualizarEstado2()">

  <label>Nombre Cliente</label>
  <input type="text" class="form-control" name="cliente" #cliente="ngModel" style="height: 30px"
        [(ngModel)]="pedido.cliente" required disabled/>

  <span *ngIf="!cliente.valid && cliente.touched">Cliente es obligatorio</span><br>

  <label>Fono Cliente</label>
  <input type="text" class="form-control" name="fono" #fono="ngModel" style="height: 30px"
        [(ngModel)]="pedido.fono" required disabled/>

  <span *ngIf="!fono.valid && fono.touched">Fono es obligatorio</span><br>


  <label>Direccion</label>
  <input type="text" class="form-control" name="direccion" #direccion="ngModel" style="height: 30px"
        [(ngModel)]="pedido.direccion" required disabled/>

  <span *ngIf="!direccion.valid && direccion.touched" class="label">Direccion es obligatorio</span><br>

  <label>Descripcion</label>
  <input type="text" class="form-control" name="descripcion" #descripcion="ngModel" style="height: 30px"
        [(ngModel)]="pedido.descripcion" required disabled/>

  <span *ngIf="!descripcion.valid && descripcion.touched">Descripcion es obligatorio</span><br>

  <label>Total</label>
  <input type="text" class="form-control" name="total" #total="ngModel" style="height: 30px"
        [(ngModel)]="pedido.total" required pattern="[0-9]+" disabled/>

  <span *ngIf="!total.valid && total.touched">Total es obligatorio</span><br>

  <br/>
  <input type="submit" value={{titulo}} class="btn btn-success"/>

</form>
