

<p></p>
<table class="table table-striped table-dark">
  <thead>
    <tr class="thead-dark">
      <th scope="col" colspan="2">Ventas por Diarias</th>
    </tr>
    <tr>
      <th scope="col">Dia</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">01/02/2018</th>
      <td>$23.123</td>
    </tr>
    <tr>
      <th scope="row">02/02/2018</th>
      <td>$23.123</td>
    </tr>
    <tr>
      <th scope="row">03/02/2018</th>
      <td>$23.123</td>
    </tr>
  </tbody>
</table>
