<h4>
  <p class="text-center">{{titulo}}</p>
</h4>
  <!--h2>{{cliente_nombre}}</h2>
  <p>{{cliente_fono}} {{cliente_fecha_registro}}</p   | async -->



  <div *ngIf="items">
        <div *ngFor="let item of items | async"  style="width:100%">
            <!--label style="width:5%"> {{item.proceso }} </label-->

            <table class="table table-striped" >
              <thead>
                <tr>
                  <th> <span class="label label-info">Cliente  </span> </th>

                  <th  colspan="2">  {{item.cliente }} - <i class="fab fa-whatsapp"></i>
                    {{item.fono }}
                    <br>
                    <span class="label label-warning" > {{ item.fechaCreacion | date :'shortTime' }}  </span>

                    <a style="float: right;" [routerLink]="['/pedido-listo', item.$key ]">
                      Listo <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </th>

                </tr>
              </thead>
               <tr>
                 <td style="width:5%"><a style="width:5%" [routerLink]="['/pedido-edit', item.$key ]"> <i class="icon-pencil"></i> </a></td>
                 <td colspan="2">
                   {{item.descripcion }} </td>
               </tr>
                <tr>
                  <td style="width:5%"></td>
                  <td colspan="2">
                     <div>
                       <strong>$ {{item.total | number:0}}  </strong>  <br>
                       <span class="icon icon-user"></span> {{ item.fechaCreacion | date :'shortTime' }}<br>
                       <span class="icon icon-home"></span> {{item.direccion }}
                     </div>
                 </td>
               </tr>
            </table>
            <!-- <div>  {{item.descripcion }} <i class="icon-pencil"></i> </div> -->
            <!--span class="label">Default</span>
            <span class="label label-inverse">Inverse</span-->
        </div>
  </div>
