<h4>
  <p class="text-center">{{titulo}}</p>

</h4>
  <!--h2>{{cliente_nombre}}</h2>
  <p>{{cliente_fono}} {{cliente_fecha_registro}}</p   | async -->



  <div *ngIf="items">
        <div *ngFor="let item of items | async"  style="border-radius:5px;width:100%;background-color:LightSteelBlue ">
            <!--label style="width:5%"> {{item.proceso }} </label-->

            <table class="table" >
              <thead>
                <tr>
                  <th> <span class="label label-info"> {{ item.fechaCreacion | date :'dd/MM/yy' }} </span> </th>

                  <th  colspan="2">
                    <span class="label label-warning" > {{ item.fechaCreacion | date :'shortTime' }}  </span>

                    <a style="float: right;" [routerLink]="['/pedido-listo', item.$key ]">
                      Listo <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </th>

                </tr>
              </thead>
               <tr>
                 <td style="width:5%">
                   <!--a style="width:5%" [routerLink]="['/pedido-edit', item.$key ]"> <i class="icon-pencil"></i> </a-->
                 </td>
                 <td colspan="2">
                   {{item.descripcion }} </td>
               </tr>
                <tr>
                  <td style="width:5%">
                    <strong>$ {{item.total | number:0}}  </strong>
                  </td>
                  <td colspan="2">
                    <p style="font-size:11px;">
                      <span *ngIf="item.tipoEntrega == '1'" class="fas fa-truck"></span> <!--1: Delivery, 2: Retiro Local, 3: Servir-->
                      <span *ngIf="item.tipoEntrega != '1'" class="icon icon-home"></span> <!--1: Delivery, 2: Retiro Local, 3: Servir-->

                      {{item.direccion }}. <strong>{{item.cliente }}</strong>
                      <i class="fab fa-whatsapp"></i>
                      Fono: {{item.fono }}

                      <!-- 0: Por Pagar, 1: Efectivo, 2: Tarjeta Debito, 3: Tarjeta Credito, 4: Otro-->
                      <img *ngIf="item.tipoPago == '1'"  width="42" style="float: right;"
                            src="https://drive.google.com/uc?id=1Ayt6ZX7FuD3zzj0x-kvl74-NvKDHjjxz"/>

                      <img *ngIf="item.tipoPago != '1'"  width="42" style="float: right;"
                            src="https://drive.google.com/uc?id=1z723fC8xwzSLSDsPOZc8eBRjQ41L3V8x"/>
                    </p>
                 </td>
               </tr>
            </table>
            <!-- <div>  {{item.descripcion }} <i class="icon-pencil"></i> </div> -->
            <!--span class="label">Default</span>
            <span class="label label-inverse">Inverse</span-->
        </div>
  </div>
