<h4>
  <p class="text-center">{{titulo}}</p>
</h4>
  <!--h2>{{cliente_nombre}}</h2>
  <p>{{cliente_fono}} {{cliente_fecha_registro}}</p   | async -->

  <div *ngIf="!items">
      <p>Cargando ...</p>
  </div>
  <div *ngIf="items">
        <div *ngFor="let item of items | async"  style="width:100%">
            <!--label style="width:5%"> {{item.proceso }} </label-->

            <p style="margin-top: 25px;">{{item.$key}}</p>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th> <span style="" class="label label-info">Cliente  </span> </th>

                  <th  colspan="2">  {{item.cliente }} - <i class="fab fa-whatsapp"></i>
                    {{item.fono }} - Estado  {{item.estado }}
                    <span class="label label-success" style="float: right;">

                    </span>
                    <a style="width:5%" [routerLink]="['/pedido-listo', item.$key ]">Listo</a>
                  </th>

                </tr>
              </thead>
               <tr>
                 <td style="width:5%"><a style="width:5%" [routerLink]="['/pedido-edit', item.$key ]"> <i class="icon-pencil"></i> </a></td>
                 <td colspan="2">
                   {{item.descripcion }} {{item.descripcion }}</td>
               </tr>
                <tr>
                  <td style="width:5%"></td>
                  <td colspan="2">
                     <div>
                       <strong>$   {{item.precio }}  {{item.total }} </strong>  <br>
                       <span class="icon icon-user"></span> {{ item.fechaActualizacion | date :'shortTime' }}<br>
                       <span class="icon icon-home"></span> {{item.direccion }}
                     </div>
                 </td>
               </tr>
            </table>
            <!-- <div>  {{item.descripcion }} <i class="icon-pencil"></i> </div> -->
            <!--span class="label">Default</span>
            <span class="label label-inverse">Inverse</span-->
        </div>
  </div>
